@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table {
      width: 90%;
      margin: auto;
  }

td {
    font-size: large;
    margin: auto;
   }

th {
    font-size: x-large;
    font-weight: strong;
    font-family:'Architects Daughter', cursive;
}

button {
  font-family: 'Architects Daughter', cursive;
  border-radius: 5px;
  border-color: black;
  border-width: 1px 1px 1px;
  font-size: 1rem;
  line-height: 1.8rem;
}

.home-btn {
  display: flex;
  padding: 100px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-color: black;
  border-width: 1px 1px 1px;
  border-radius: 12px;
  background-color: #F5F3EB;
  color: black ;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
}