table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table {
      width: 90%;
      margin: auto;
  }

td {
    font-size: medium;
    margin: auto;
   }

th {
    font-size: large;
    font-weight: strong;
    font-family:Arial, Helvetica, sans-serif;
}