@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table {
      width: 90%;
      margin: auto;
  }

td {
    font-size: medium;
    margin: auto;
   }

th {
    font-size: large;
    font-weight: strong;
    font-family:'Architects Daughter', cursive;
}

button {
  font-family: 'Architects Daughter', cursive;;
}